
@{
    ViewBag.Title = "CadLogin";
}

<h2>Cadastro Login</h2>

<form action="CadLogin" method="post">

    <input type="text" name="txtUsu" id="Usu" placeholder="Digite seu usuario"><br />

    <input type="text" name="txtTipo" id="txtTipo" placeholder="Tipo Usuario" maxlength="08"><br />

    <input type="text" name="txtSenha" id="txtSenha" placeholder="Crie uma senha" maxlength="08"><br />

    <input type="password" name="txtconfsenha" id="txtconfsenha" placeholder="Confirme sua senha" maxlength="08"><br />

    <input type="submit" value="Cadastrar">

</form>
 